<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
    xmlns:sec="http://thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Hello <span sec:authentication="principal.username"></span></p>
    <p>Roles: <span sec:authentication="principal.authorities"></span></p>
    <div sec:authorize="hasRole('MANAGER')">
        <a th:href="@{/leaders}">This page is for managers only</a>
    </div>

    <br>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/systems}">This page is for admins only</a>
    </div>
    <form action="#" th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout">
    </form>
</body>
</html>